.lyricPage {
    padding-top: 4.2em !important;
    display: flex;
    >div {
        flex-grow: 1;
    }
}

.dynamicLyricsContainer {
    position: relative;
    width: 100%;
    height: calc(100vh - 4.2em);
    overflow: hidden;

    .lyrics-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .canvas-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}
